.countries {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 20%; */


  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* grid-row: 1fr 1fr; */
  /* justify-content: center; */
  /* justify-items: center; */
  /* align-items: center; */
  /* flex-wrap: nowrap; */


  /* margin: auto; */

}